.sacola { 
    background: url("../src/img/sacola.png") no-repeat top right; 
    font-size: 14px; padding-right: 35px; 
    text-align: right; 
    width: 140px; 
    padding-top: 8px; 
    position: absolute; 
    top: 0; 
    right: 0;
} 

.menu-opcoes { 
    position: absolute; 
    bottom: 0; 
    right: 0; 
}
.menu-opcoes ul { 
    font-size: 15px; 
} 
.menu-opcoes ul li { 
    display: inline;
    margin-left: 20px;
} 
.menu-opcoes a { 
    color: #003366; 
}
.menu-opcoes a:hover{
    color: #007dc6;
}
.menu-opcoes a:active{
    color: #867dc6;
}

.container {
    margin: 0px auto;
    width: 940px;
}