footer {
    color: white;
    background-image: url("../src/img/fundo-rodape.png");
    clear: both;
    padding: 20px 0;
    width: 100%;
}
footer .container {
    position: relative;
}


.social {
    position: absolute;
    top: 12px;
    right: 0;
}
.social li {
    float: left;
    margin-left: 25px;
}
.social a {
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -999999px;
}
.social a[href*="facebook.com"] {
    background-image: url("../src/img/facebook.png");
}
.social a[href*="twitter.com"] {
    background-image: url("../src/img/twitter.png");
}
.social a[href*="plus.google.com"] {
    background-image: url("../src/img/googleplus.png");
}