body {
    color: #333333; /*Cor das letras em geral*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; /*Fonte das letras em geral*/
}

h1 {
    font-size: 200%;
}

h2 { 
    border-bottom: 2px solid #333333; /*Borda solida abaixo do texto*/
    margin-top: 30px; /*Margem ao topo*/
    font-size: 150%;
}

p {
    padding: 5px 40px; /*Preenchimento tanto acima quanto abaixo*/
    text-indent: 15px; /*Recuo no início do texto*/
}

p:not(.sacola):first-letter {
    font-weight: bold;
}

:not(p, #centro-distribuicao) + p:not(.sacola):first-line {
    font-variant: small-caps;
}

h1 + p {
    text-indent: 0;
}

h1 + p:not(.sacola):first-letter, #familia-pelho + p:first-letter {
    font-size: 200%;
}

figure { 
    background-color: #F2EDED; /*Cor de fundo das fotos*/
    border: 1px solid #ccc; /*Borda das figuras*/
    text-align: center; /*Alinhamento do texto*/
    padding: 15px; /*Preenchimento*/
    margin: 30px; /*Margem*/
}

figcaption { 
    font-style: italic; /*Tipo de texto da figura*/
    margin-top: 10px; /*Margem ao topo*/
}


#centro-distribuicao { 
    margin-left: auto; 
    margin-right: auto; 
    width: 550px; 
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}


.sobre {
    margin-left: auto; /*Margem esquerda automática*/
    margin-right: auto; /*Margem direita automática*/
    width: 940px; /*Largura em pixels*/
}

.lista {
    padding: 5px 40px;
    list-style: disc;
}

.titulo { 
    background-image: url("../src/img/sobre-background.jpg"); /*Imagem de fundo*/
    padding: 10px; /*Preenchimento em pixels*/
}